{% extends 'blogs/base.html' %}
{% load static %}

{% block title %}
Add blog
{% endblock title %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'blogs/css/editblog.css' %}">
{% endblock css %}

{% block content %}
<div class="header">
    <h3>Edit Blog </h3>
    <hr>
</div>
<div class="editblog-info">
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" class="input-field" name="title" id="title" value="{{blog.title}}">
        <textarea name="desc" class="input-field" id="desc" cols="30" rows="10" >{{blog.desc}}</textarea>
        <div class="row">
            <input type="submit" value="Save" class="col-lg-1 btn btn-outline-success">
            <a href="{% url 'dashboard' %}" class="col-lg-2 btn btn-outline-dark">Dashbaord</a>
        </div>
    </form>
</div>
{% endblock content%}